@media (max-width:440px) {
main .container-1 {
    background-position: center;
    height: 90vh;
}
main .container-1 h1{
    display: none;
    }
main .container-1 img{
    height: 180px;
    left: -75%;
    top: 80px;
    position: relative;
}
main .container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". heading heading ."
      ". para para ."
      ". pic pic .";
  }
  main .container-2  .para {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: para;

    position: relative;
    top: 15%;
    margin: -25%;
    text-align:center;
  }
  main .container-2 .pic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: pic;
    
    position: relative;
    left: 5%;
    border-radius: 10px;
}

main .container-2 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
  
  main .container-2 .heading {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: heading;
    font-size: 22px;
    position: relative;
    left: 10%;
   top: 30%;
   font-weight: bolder;

    
  }

  main .container-3 h1{
      position: relative;
      top: 5%;
  }
}






